@use "../variables.scss";

.navBar {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  margin: 0 0 var(--gutter) 0;
}

.navBar nav {
  display: flex;
  align-items: center;
}

.bcImage {
  position: relative;
  width: calc(calc(var(--column) * 2) + calc(var(--gutter) * 1));
  height: calc(var(--vRythm) * 2);
  background-color: white;
  margin: 0 var(--gutter);
}

.bcImage :global(img) {
  object-fit: scale-down;
}

.navBar nav a {
  border-right: 1px solid;
  display: block;
  border-color: var(--primary);
  background-color: var(--dark);
  line-height: calc(var(--vRythm) * 2);
  padding: 0 var(--gutter);
  text-decoration: none;
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
  color: var(--light);
  font-weight: 700;
  text-align: center;
  align-self: stretch;
}

.navBar nav a.selected {
  color: var(--darkgrey);
}

.navBar nav a:hover {
  color: var(--darkgrey);
}

@media (max-width: variables.$CSS_BREAKPOINT_START_L) {
  .navBar nav {
    flex-direction: column;
    margin: 0 0 var(--gutter) 0;
  }
}
