.root {
  font-family: var(--headingFont);
  font-size: calc(var(--greatFontSize) * 0.75);
  line-height: var(--greatLineHeight);
  text-decoration: none;
  font-weight: normal;
  margin: var(--vRythm) 0 0 0;
}
